<!-- header.ejs -->
<header class="pb-3">
  <h1><%= title %></h1>

  <nav>
    <ul>
      <li><a href="./index.html">Index</a></li>
      <li><a href="./catalogue.html">Catalogue</a></li>
      <li><a href="./json.html">JSON utils</a></li>
    </ul>
  </nav>
</header>